@model KamilKielczewskiPWI.Models.CourseInstructor

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CourseInstructor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
